.progressBar{
    margin-left: 15px;
    padding: 10px;
    width:45%;
    display:inline-block;
}

@media  (max-width: 800px){
    .progressBar{
        
        width:80%;
        
    }
}

.skill-content{
    margin-left: 20px;
}

.percent{
    display: inline-block;
    float:right;
}